<div class="py-5 text-center text-white bg-prim h-100 align-items-center d-flex "
  style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75));  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;">
  <div class="container py-5">
    <div class="row">
      <div class="mx-auto col-lg-8 col-md-10">
        <h1 class="display-3 mb-4">A wonderful serenity</h1>
        <p class="lead mb-5">Has taken possession of my entire soul, like these sweet mornings of spring which I enjoy
          with my whole heart. I am alone, and feel the charm of existence.</p><a class="btn btn-lg mx-1 btn-outline-primary"
          href="#contact">Get In Touch</a>
      </div>
    </div>
  </div>
</div>
<div class="py-3 bg-prim text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="mb-3">menu</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 p-4">
        <h4> <b>#1</b> </h4>
        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings.</p>
      </div>
      <div class="col-lg-3 col-md-6 p-4">
        <h4> <b>#2</b> </h4>
        <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss.</p>
      </div>
      <div class="col-lg-3 col-md-6 p-4">
        <h4> <b>#3</b> </h4>
        <p>So absorbed in the exquisite sense of mere tranquil existence.</p>
      </div>
      <div class="col-lg-3 col-md-6 p-4">
        <h4> <b>#4</b> </h4>
        <p>At the present moment and yet I feel that I never was a greater artist than now.</p>
      </div>
      <div class="col-lg-3 col-md-6 p-4">
        <h4> <b>#5</b> </h4>
        <p>And the meridian sun strikes the upper surface of the impenetrable foliage.</p>
      </div>
      <div class="col-lg-3 col-md-6 p-4">
        <h4> <b>#6</b> </h4>
        <p>I throw myself down among the tall grass by the trickling stream.</p>
      </div>
      <div class="col-lg-3 col-md-6 p-4">
        <h4> <b>#7</b> </h4>
        <p>And, as I lie close to the earth, a thousand unknown plants are noticed by me.</p>
      </div>
      <div class="col-lg-3 col-md-6 p-4">
        <h4> <b>#8</b> </h4>
        <p>When I hear the buzz of the little world among the stalks, and grow familiar.</p>
      </div>
    </div>
  </div>
</div>
<div class="pt-5 pi-draggable" draggable="true">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="mb-4">I enjoy with my whole heart</h1>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-3 col-md-6 py-md-4 px-4 order-1 order-lg-1 text-lg-right d-flex flex-column justify-content-between">
        <div class="row">
          <div class="col-9 col-md-12"> <i class="d-block fa fa-circle mb-1 text-muted fa-2x"></i>
            <p class="lead mb-1"> <b>One</b> </p>
            <p>A wonderful serenity has taken possession of my entire soul.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-9 col-md-12"> <i class="d-block fa fa-stop-circle mb-1 text-muted fa-2x"></i>
            <p class="lead mb-1"> <b>Two</b> </p>
            <p>Like these sweet mornings of spring which I enjoy.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-9 col-md-12"> <i class="d-block fa fa-circle-o mb-1 text-muted fa-2x"></i>
            <p class="lead mb-1"> <b>Three</b> </p>
            <p>I am alone, and feel the charm of existence in this spot.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 mx-auto order-3 order-lg-2"> <img class="img-fluid d-block"
          src="https://static.pingendo.com/img-placeholder-mobile.svg"> </div>
      <div class="col-lg-3 col-md-6 py-md-4 px-4 order-2 order-lg-3 d-flex flex-column justify-content-between">
        <div class="row">
          <div class="col-9 col-md-12"> <i class="d-block fa fa-stop-circle-o mb-1 text-muted fa-2x"></i>
            <p class="lead mb-1"> <b>Four</b> </p>
            <p>Which was created for the bliss of souls like mine</p>
          </div>
        </div>
        <div class="row">
          <div class="col-9 col-md-12"> <i class="d-block fa mb-1 text-muted fa-2x fa-circle-o"></i>
            <p class="lead mb-1"> <b>Five</b> </p>
            <p>I am so happy, my dear friend, so absorbed.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-9 col-md-12"> <i class="d-block fa fa-circle mb-1 text-muted fa-2x"></i>
            <p class="lead mb-1"> <b>Six</b> </p>
            <p>the exquisite sense of mere tranquil existence.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pt-5 pb-3 text-center bg-prim text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-6 p-4"> <img class="img-fluid d-block"
          src="https://static.pingendo.com/img-placeholder-1.svg" width="1500">
        <h4 class="mt-3 mb-0"> <b>One&nbsp;</b> </h4>
      </div>
      <div class="col-md-3 col-6 p-4"> <img class="img-fluid d-block"
          src="https://static.pingendo.com/img-placeholder-4.svg" width="1500">
        <h4 class="mt-3 mb-0"> <b>Two</b> </h4>
      </div>
      <div class="col-md-3 col-6 p-4"> <img class="img-fluid d-block"
          src="https://static.pingendo.com/img-placeholder-2.svg" width="1500">
        <h4 class="mt-3 mb-0"> <b>Three</b> </h4>
      </div>
      <div class="col-md-3 col-6 p-4"> <img class="img-fluid d-block"
          src="https://static.pingendo.com/img-placeholder-3.svg" width="1500">
        <h4 class="mt-3 mb-0"> <b>Four</b> </h4>
      </div>
    </div>
  </div>
</div>