
.btn {
    background-color: rgb(120, 179, 25);
    border: none;
    color: #111;
    border: solid #9dff00 0.1rem;
}
em {
    color: rgb(120, 179, 25);
    font-style: normal;
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {

    /* Adjust styles for smaller screens */
    .header-content {
        position: relative;
        z-index: 1;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        justify-content: space-evenly;
        width: 100%;
        /* Adjust the padding to control content position */
        color: #ffffff;
    }

    .hero-text-heading {
        font-size: 2.5rem;
    }

    h1 {
        margin-bottom: 0px;
        font-size: 35px;
        font-weight: 900;
    }
}

a{
    text-decoration: none;
}

.navbar{
    z-index: 999;
}