<nav class="navbar navbar-expand-lg bg-prim fixed-top">
  <div class="container">
    <a class="navbar-brand" href="home">
      <h3><em>Crafted Spirits Co.</em></h3>
    </a>
    <button class="navbar-toggler btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end text-white" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item"> <a class="nav-link text-white" href="menu">Menu</a> </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"> <a class="nav-link text-white" href="gallary">Gallary</a> </li>
        <li class="nav-item"> <a class="nav-link text-white" href="#about">About</a> </li>
        <!-- <li class="nav-item"> <a class="nav-link text-white" href="faq">FAQ</a> </li> -->
      </ul> <a class="btn btn-outline-light navbar-btn ml-md-2" href="#contact">Contact us</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<div class="py-3 bg-prim">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"> <i class="d-block fa fa-stop-circle mb-3 text-muted fa-3x"></i>
        <p> <a href="https://goo.gl/maps/AUq7b9W7yYJ2" target="_blank"> Fake street, 100
            <br>NYC - 20179, USA</a> </p>
        <p> <a href="tel:+27 72 871 4796">+27 72 871 4796</a> </p>
        <p class="mb-0"> <a href="mailto:info@pingendo.com">craftedSpirits@gmail.com</a> </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex align-items-center justify-content-center my-3"> <a href="#">
          <i class="d-block fa fa-facebook-official text-muted fa-lg mr-2"></i>
        </a> <a href="#">
          <i class="d-block fa fa-instagram text-muted fa-lg mx-2"></i>
        </a> <a href="#">
          <i class="d-block fa fa-google-plus-official text-muted fa-lg mx-2"></i>
        </a> <a href="#">
          <i class="d-block fa fa-pinterest-p text-muted fa-lg mx-2"></i>
        </a> <a href="#">
          <i class="d-block fa fa-reddit text-muted fa-lg mx-2"></i>
        </a> <a href="#">
          <i class="d-block fa fa-twitter text-muted fa-lg ml-2"></i>
        </a> </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center text-white">
        <p class="mb-0">© 2023 Crafted Spirits Co. | All rights reserved</p>
      </div>
    </div>
  </div>
</div>