<nav class="navbar navbar-expand-lg bg-prim fixed-top">
  <div class="container">
    <a class="navbar-brand" href="home"><em>Crafted Spirits Co</em></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end text-white" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item"> <a class="nav-link text-white" href="menu">Menu</a> </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"> <a class="nav-link text-white" href="#">Gallary</a> </li>
        <li class="nav-item"> <a class="nav-link text-white" href="#about">About</a> </li>
        <li class="nav-item"> <a class="nav-link text-white" href="#">FAQ</a> </li>
      </ul> <a class="btn btn-outline-light navbar-btn ml-md-2" href="#contact">Contact us</a>
    </div>
  </div>
</nav>
<header class="header fixed-top">
  <div class="header-background"></div>
  <div class="header-content">
    <div class="p-4 one_">
      <img src="../assets/cocktail-1971488_1280-removebg-preview.png" alt="">
    </div>
    <div class="p-4">
      <h1 class="hero-txt neon py-4">Crafted Spirits Co</h1>
      <h2>Indulge in Exquisite Cocktails and Shots</h2>
      <span class="undr my-3"></span>
      <p class="lead">At Crafted Spirits Co, we're not just mixing drinks, we're crafting experiences! Discover a world
        of
        tantalizing cocktails and shots, meticulously concocted to perfection. Whether you're looking to elevate
        your next event or savor a moment of sheer delight, our spirits are here to take you on a journey like no
        other.</p>
      <div class="row p-2">
        <a href="" class="mr_btn col-md-5 col-6">Menu</a>
        <a href="" class="cb_btn col-md-5 col-6">Booking</a>
      </div>
    </div>
    <div class="p-4 one">
      <img src="../assets/drink-3313606_1280-removebg-preview.png" alt="">
    </div>
  </div>
</header>
<div class="py-5 bg-prim" id="about">
  <div class="container">
    <div class="row py-5">
      <div class="px-md-5 p-3 col-md-6 d-flex flex-column align-items-start justify-content-center">
        <h1 class="text-white">Our Story</h1>
        <span class="undr my-3"></span>
        <p class="lead mb-0 text-white">Crafted Spirits Co was founded in 2023 by a group of spirited individuals who
          shared a common vision: to bring people together through the art of mixology. What began as a humble venture
          in the world of markets has evolved into a thriving business, serving the discerning tastes of cocktail
          connoisseurs and event enthusiasts alike.</p>
      </div>
      <div class="col-md-6"> <img class="img-fluid d-block" src="../assets/cocktails-1869868_1280.jpg"> </div>

    </div>
    <div class="row py-5">
      <div class="col-md-6"> <img class="img-fluid d-block" src="../assets/margarita-1839361_1280.jpg">
      </div>
      <div class="px-md-5 p-3 col-md-6 d-flex flex-column justify-content-center">
        <h1 class="text-white">Crafted to Perfection</h1>
        <span class="undr my-3"></span>
        <p class="lead mb-0 text-white">At Crafted Spirits Co, we believe that crafting the perfect cocktail is an art
          form. Our expert mixologists meticulously curate each drink, selecting the finest spirits, freshest
          ingredients, and most innovative techniques to create a symphony of flavors that dance on your palate. Whether
          you're a fan of classic cocktails or crave something entirely unique, our diverse menu has something to
          satisfy every palate.</p>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <div class="container py-5 text-dark">
      <div class="row">
        <h1>Our Offerings</h1>
      </div>
      <div class="row">
        <div class="col-md-4 col "> <img class="img-fluid d-block"
            src="../assets/mint-juleps-1821380_1280.jpg">
          <h2 class="my-3"><b>Signature Cocktails&nbsp;</b> </h2>
          <p>Our signature cocktails are a testament to the creativity and passion of our mixologists. From the timeless
            elegance of a perfectly balanced Martini to the zesty excitement of a crafted Margarita, each sip is a journey
            in itself.</p>
        </div>
        <div class="col-md-4 col "> <img class="img-fluid d-block" src="../assets/tequila-6126907_1280.jpg">
          <h2 class="my-3"> <b>Exhilarating Shots</b> </h2>
          <p> For those who seek a quick thrill, our selection of shots will not disappoint. Designed to pack a punch,
            these shots are guaranteed to get the party started.</p>
        </div>
        <div class="col-md-4 col "> <img class="img-fluid d-block"
            src="../assets/man-1456951_1280.jpg">
          <h2 class="my-3"> <b>Custom Crafted Cocktails</b> </h2>
          <p>Planning a special event or private gathering? Let Crafted Spirits Co create a bespoke cocktail experience
            tailored to your preferences. Our mixologists will work closely with you to design a menu that reflects your
            unique taste and style.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-6 col-10 p-5 mx-auto mx-md-0 text-dark glass-card">
        <h1 class="text-white">Elevate Your Events</h1>
        <p class="mb-3 text-white">Are you looking to make your event truly unforgettable? Crafted Spirits Co is not just about
          serving delicious drinks; we're about creating memorable experiences. Our skilled bartenders and mixologists
          can be booked for private events, ensuring that your guests are treated to an exceptional bar experience that
          will leave a lasting impression.</p> <a class="btn btn-primary" href="#">For Bookings</a>
      </div>
    </div>
  </div>
</div>
<div class="pt-5 pb-3 text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="mb-3">featured drinks</h1>
        <p class="lead"> <b>
            <a href="#" class="text-dark">See all features</a>...</b> <br> </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-6 p-4"> <img class="img-fluid d-block"
          src="../assets/lime-907124_1280.jpg" width="1500">
        <h4 class="mt-3 mb-0"> <b>One&nbsp;</b> </h4>
      </div>
      <div class="col-md-3 col-6 p-4"> <img class="img-fluid d-block"
          src="../assets/liquor-6074398_1280.jpg" width="1500">
        <h4 class="mt-3 mb-0"> <b>Two</b> </h4>
      </div>
      <div class="col-md-3 col-6 p-4"> <img class="img-fluid d-block"
          src="../assets/cocktail-1971490_1280.jpg" width="1500">
        <h4 class="mt-3 mb-0"> <b>Three</b> </h4>
      </div>
      <div class="col-md-3 col-6 p-4"> <img class="img-fluid d-block"
          src="../assets/cocktail-2357254_1280.jpg" width="1500">
        <h4 class="mt-3 mb-0"> <b>Four</b> </h4>
      </div>
    </div>
  </div>
</div>
<div class="about-section bg-prim">
  <div class="inner-container">
    <h1>Why Choose Crafted Spirits Co?</h1>
    <div class="skills">
      <div class="row pi-draggable" draggable="true">
        <div class="col-md-3">
          <h5>Quality Assurance</h5>
          <p> We source the finest spirits and ingredients to guarantee the highest quality in every glass.</p>
        </div>
        <div class="col-md-3">
          <h5>Creativity</h5>
          <p>Our mixologists are passionate about pushing the boundaries of mixology, creating drinks that are as
            visually stunning as they are delicious.</p>
        </div>
        <div class="col-md-3">
          <h5>Professionalism</h5>
          <p> Whether you're booking us for a private event or visiting us at a public gathering, our team is committed
            to providing exceptional service with a smile.</p>
        </div>
        <div class="col-md-3">
          <h5>Customization</h5>
          <p>We understand that every event is unique. Our custom-crafted cocktails allow you to add a personal touch to
            your celebrations.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-3 text-center bg-prim" id="contact">
  <div class="container">
    <div class="row justify-content-center text-white">
      <div class="col-lg-5 col-md-6 p-4"> <i class="d-block fa fa-circle fa-3x mb-2 text-muted"></i>
        <h1> <b>Join Us on This Spirited Journey</b> </h1>
        <span class="undr my-3"></span>
        <p>Crafted Spirits Co invites you to join us in savoring the finer moments in life. Whether you're enjoying our
          handcrafted cocktails at an event or having us cater your private soirée, we promise to deliver an experience
          that exceeds your expectations.
          <br><br>
          Indulge in the artistry of mixology, elevate your celebrations, and make memories that will last a lifetime
          with Crafted Spirits Co. Cheers to crafting unforgettable moments together!
        </p>
      </div>
      <div class="px-md-5 p-3 col-md-6 d-flex flex-column justify-content-center">
        <div class="row">
          <div class="">
            <h2 class="mb-1 text-white">Send Us A Message</h2>
            <span class="y-us-title-border"></span>
            <p class="text-white">Drop us a line with any questions, inquiries or business proposals
            </p>
            <form>
              <div class="row">
                <div class="form-group col-md-6 pb-2"> <input type="text" class="form-control" id="form27"
                    placeholder="Name"> </div>
                <div class="form-group col-md-6 pb-2"> <input type="email" class="form-control" id="form28"
                    placeholder="Email"> </div>
              </div>
              <div class="form-group pb-2"> <input type="text" class="form-control" id="form29" placeholder="Subject">
              </div>
              <div class="form-group pb-2">
                <textarea class="form-control" id="form30" rows="3" placeholder="Your message">
                          </textarea>
              </div>
              <button type="submit" class="cb_btn">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-3 bg-prim">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"> <i class="d-block fa fa-stop-circle mb-3 text-muted fa-3x"></i>
        <p> <a href="https://goo.gl/maps/AUq7b9W7yYJ2" target="_blank"> Fake street, 100
            <br>NYC - 20179, USA</a> </p>
        <p> <a href="tel:+246 - 542 550 5462">+1 - 256 845 87 86</a> </p>
        <p class="mb-0"> <a href="mailto:info@pingendo.com">info@pingendo.com</a> </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex align-items-center justify-content-center my-3"> <a href="#">
          <i class="d-block fa fa-facebook-official text-muted fa-lg mr-2"></i>
        </a> <a href="#">
          <i class="d-block fa fa-instagram text-muted fa-lg mx-2"></i>
        </a> <a href="#">
          <i class="d-block fa fa-google-plus-official text-muted fa-lg mx-2"></i>
        </a> <a href="#">
          <i class="d-block fa fa-pinterest-p text-muted fa-lg mx-2"></i>
        </a> <a href="#">
          <i class="d-block fa fa-reddit text-muted fa-lg mx-2"></i>
        </a> <a href="#">
          <i class="d-block fa fa-twitter text-muted fa-lg ml-2"></i>
        </a> </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="mb-0">© 2014-2018 Pingendo. All rights reserved</p>
      </div>
    </div>
  </div>
</div>