.header {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Adjust this to control the header height */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: black;
    padding: 2rem;
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    /* Adjust the opacity as needed */
}

.header-content {
    position: relative;
    z-index: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    /* Adjust the padding to control content position */
    color: #ffffff;
    max-height: 500px;
    height: 100%;
    border-radius: 1rem;
    padding: 2rem;
    max-width: 1500px;
}

.hero-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}


.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-img {
    transform: rotateY(45deg);
    animation: rotateAnimation 4s linear infinite;
}

@keyframes rotateAnimation {
    from {
        transform: rotateY(45deg);
    }

    to {
        transform: rotateY(225deg);
    }
}


.header-content div .links {
    flex-direction: row;
    display: inline-flex;
}

.btns {
    display: inline-flex;
    width: 100%;
    z-index: 100;
}

.btn {
    background-color: rgb(120, 179, 25);
    border: none;
    color: #111;
    border: solid #9dff00 0.1rem;
}

.mr_btn {
    background-color: transparent;
    padding: 0.2rem 3rem;
    border-radius: 0.5rem;
    border: solid rgb(120, 179, 25) 0.2rem;
    color: rgb(120, 179, 25);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    margin-right: 1rem;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    letter-spacing: 0.1rem;
    width: 100%;
}


.cb_btn {
    background-color: rgb(120, 179, 25);
    padding: 0.2rem 3rem;
    border-radius: 0.5rem;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    color: hsl(214, 63%, 9%);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    border: solid #9dff00 0.1rem;
    width: 100%;
}

.undr {
    display: flex;
    width: 50%;
    height: 0.2rem;
    background-color: rgb(120, 179, 25);
}

.animation-container {
    overflow: hidden;
}

.animated-text {
    position: relative;
    left: -100%;
    animation: slideIn 2s forwards;
}

@keyframes slideIn {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

em {
    color: rgb(120, 179, 25);
    font-style: normal;
}

.neon {
    animation: neonAnim 4.5s alternate-reverse infinite;
    border: none;
    animation: blink infinite 2s;
    -webkit-animation: blink 12s infinite;
    font-size: 5rem;
    font-weight: 900;
    margin: 0;
    padding: 0;
    font-style: italic;
}

@media screen and (max-width: 1000px) {
    .header-content {
        flex-direction: column-reverse;
        padding: 1rem;
    }


    .neon {
        font-size: 3rem;
        font-weight: 900;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 600px) {

    .header {

        padding: 0rem;
    }

    .header-content {
        flex-direction: column-reverse;
    }

    .lead {
        font-size: 1rem;
    }

    .neon {
        font-size: 2.7rem;
        font-weight: 900;
        margin: 0;
        padding: 0;
    }

    .hero-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }


    .hero-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .hero-img img {
        width: 50%;
    }

    .mr_btn {
        background-color: transparent;
        padding: 0rem 3rem;
        border-radius: 0.5rem;
        border: solid rgb(120, 179, 25) 0.3rem;
        color: rgb(120, 179, 25);
        text-decoration: none;
        font-weight: 600;
        font-size: 1rem;
        margin-right: 1rem;
        justify-content: center;
        display: inline-flex;
        align-items: center;
        letter-spacing: 0.1rem;
        width: 100%;
    }

    .cb_btn {
        background-color: rgb(120, 179, 25);
        padding: 0rem 3rem;
        border-radius: 0.5rem;
        justify-content: center;
        display: inline-flex;
        align-items: center;
        color: hsl(214, 63%, 9%);
        text-decoration: none;
        font-weight: 600;
        font-size: 1.rem;
        letter-spacing: 0.1rem;
        border: solid #9dff00 0.01rem;
        width: 100%;
    }
}

@keyframes neonAnim {
    from {
        text-shadow:
            0 0 29px rgba(255, 0, 20, .9),
            0 0 59px rgba(255, 0, 20, .9),
            0 0 119px rgba(255, 0, 20, .9);
    }

    to {
        text-shadow:
            0 0 24px rgba(255, 0, 20, .9),
            0 0 39px rgba(255, 0, 20, .9),
            0 0 79px rgba(255, 0, 20, .9);
    }
}

@-webkit-keyframes blink {

    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: 0 0 5px rgb(120, 179, 25), 0 0 15px rgb(120, 179, 25) 0 0 20px rgb(120, 179, 25), 0 0 40px rgb(120, 179, 25), 0 0 60px #ff0000, 0 0 10px rgb(120, 179, 25), 0 0 98px #ff0000;
        color: #fff6a9;
    }
}

@keyframes blink {

    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: 0 0 5px rgb(120, 179, 25), 0 0 15px rgb(120, 179, 25), 0 0 20px rgb(120, 179, 25), 0 0 40px rgb(120, 179, 25), 0 0 60px #ff0000, 0 0 10px rgb(120, 179, 25), 0 0 98px #ff0000;
        color: rgba(196, 255, 100, 0.726);
    }
}

@media screen and (max-width: 908px) {

    /* Adjust styles for smaller screens */
    .header-content {
        position: relative;
        z-index: 1;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        justify-content: space-evenly;
        width: 100%;
        /* Adjust the padding to control content position */
        color: #ffffff;
    }

    .hero-text-heading {
        font-size: 3rem;
    }

    .mr_btn {
        background-color: transparent;
        border-radius: 0.5rem;
        border: solid rgb(120, 179, 25) 0.2rem;
        color: rgb(120, 179, 25);
        text-decoration: none;
        font-weight: 500;
        font-size: 1rem;
        margin-right: 1rem;
        justify-content: center;
        display: inline-flex;
        align-items: center;
        letter-spacing: 0.1rem;
    }

    .cb_btn {
        background-color: rgb(120, 179, 25);
        border-radius: 0.5rem;
        justify-content: center;
        display: inline-flex;
        align-items: center;
        color: hsl(214, 63%, 9%);
        text-decoration: none;
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {

    /* Adjust styles for smaller screens */
    .header-content {
        position: relative;
        z-index: 1;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        justify-content: space-evenly;
        width: 100%;
        /* Adjust the padding to control content position */
        color: #ffffff;
    }

    .hero-text-heading {
        font-size: 2.5rem;
    }

    h1 {
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 900;
    }
}

.h-50 {
    height: 200px;
    width: 100%;
}

.h-10 {
    height: 200px;
    width: 100%;
}








.about-section {
    background: url("../../../assets/51.jpeg") no-repeat left black;
    background-size: 55%;
    overflow: hidden;
    padding: 170px 0;
}

.inner-container {
    width: 75%;
    float: right;
    background-color: #fdfdfd;
    padding: 100px;
}

h1 {
    margin-bottom: 0px;
    font-size: 50px;
    font-weight: 900;
}


@media screen and (max-width:1200px) {
    .inner-container {
        padding: 80px;
    }
}

@media screen and (max-width:1000px) {
    .about-section {
        background-size: 100%;
        padding: 50px 40px;
    }

    .inner-container {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .about-section {
        padding: 0;
    }

    .inner-container {
        padding: 20px;
    }
}



.glass-card {
    padding: 1.25rem;
    /* 	background: rgba(22, 37, 41, 0.7); */
    background: radial-gradient(circle at bottom right,
            rgba(255, 0, 0, 0.1) 0,
            rgba(157, 255, 0, 0.1) 100%);
    box-shadow: 0 8px 32px 0 rgba(43, 255, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-top: 1px solid rgba(94, 255, 0, 0.22);
    border-right: 1px solid rgba(51, 255, 0, 0.18);
    border-left: 1px solid rgba(72, 255, 0, 0.2);
    border-bottom: 1px solid rgba(21, 255, 0, 0.2);
    border-radius: 0.75rem;
}

@keyframes blobAnimation {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}


@media screen and (max-width: 1500px) {
    .one {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .one_ {
        display: none;
    }
}

@media screen and (max-width: 908px) {

    /* Adjust styles for smaller screens */
    .header-content {
        position: relative;
        z-index: 1;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        justify-content: space-evenly;
        width: 100%;
        /* Adjust the padding to control content position */
        color: #ffffff;
    }

    .hero-text-heading {
        font-size: 3rem;
    }

    .mr_btn {
        background-color: transparent;

        border-radius: 0.5rem;
        border: solid rgb(120, 179, 25) 0.2rem;
        color: rgb(120, 179, 25);
        text-decoration: none;
        font-weight: 500;
        font-size: 1rem;
        margin-right: 1rem;
        justify-content: center;
        display: inline-flex;
        align-items: center;
        letter-spacing: 0.1rem;
    }

    .cb_btn {
        background-color: rgb(120, 179, 25);
        border-radius: 0.5rem;
        justify-content: center;
        display: inline-flex;
        align-items: center;
        color: hsl(214, 63%, 9%);
        text-decoration: none;
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {

    /* Adjust styles for smaller screens */
    .header-content {
        position: relative;
        z-index: 1;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        justify-content: space-evenly;
        width: 100%;
        /* Adjust the padding to control content position */
        color: #ffffff;
    }

    .hero-text-heading {
        font-size: 2.5rem;
    }

    h1 {
        margin-bottom: 0px;
        font-size: 35px;
        font-weight: 900;
    }
}

a{
    text-decoration: none;
}